---
import { getCollection } from "astro:content";
import type { GetStaticPaths } from "astro";
import Layout from "../../layouts/Layout.astro";
import Breadcrumb from "../../components/Breadcrumb.astro";
import BreadcrumbItem from "../../components/BreadcrumbItem.astro";

export const getStaticPaths = (async () => {
  const posts = await getCollection("posts");

  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}) satisfies GetStaticPaths;

const { post } = Astro.props;
const { Content } = await post.render();

const prettyPubDate = post.data.pubDate.toLocaleDateString(undefined, {
  month: "long",
  day: "numeric",
  year: "numeric",
});
---

<Layout title={post.data.title} description={post.data.lead}>
  <Breadcrumb>
    <BreadcrumbItem href="/blog/" label="Blog" />
    <BreadcrumbItem label={post.data.title} />
  </Breadcrumb>

  <article class="container py-5 markdown">
    <h1>{post.data.title}</h1>
    <p class="text-muted"><small>{prettyPubDate}</small></p>
    <p class="lead">{post.data.lead}</p>
    <Content />
  </article>
</Layout>
