---
interface Props {
  slug: string;
  title: string;
  pubDate: Date;
  lead: string;
}

const { slug, title, pubDate, lead } = Astro.props;
const href = `/blog/${slug}/`;
const prettyPubDate = pubDate.toLocaleDateString(undefined, {
  month: "long",
  day: "numeric",
  year: "numeric",
});
---

<div>
  <h3>
    <a class="text-decoration-none" href={href}>{title}</a>
  </h3>
  <p><small>{prettyPubDate}</small></p>
  <p class="lead text-muted mb-3">{lead}</p>
  <a class="text-decoration-none" href={href}>Read more →</a>
</div>
